
{% extends 'base.html' %}

{% block content %}
<h2 style="margin-left:-50px">Materie:</h2>
<ul id="lista">
</ul>
<script>
    fetch("{% url 'prova_pratica1:view_API'%}").then(response=>response.json()).then(result=>{
        let tbody="";
        console.log(result);
        for(const oggetto of result.materie){
            let materia=oggetto.materia;    
            tbody+=`<li>${materia}</li>`;
        }
        document.getElementById("lista").innerHTML=tbody;

    })
</script>
{% endblock %}